<?xml version="1.0"?>
<config>
    <modules>
        <Coinbase_Coinbase>
            <version>1.0</version>
        </Coinbase_Coinbase>
    </modules>
	<frontend>
        <routers>
            <coinbase_coinbase>
                <use>standard</use>
                <args>
                    <module>Coinbase_Coinbase</module>
                    <frontName>coinbase_coinbase</frontName>
                </args>
            </coinbase_coinbase>
        </routers>
    </frontend>
    <global>
        <blocks>
            <Coinbase>
                <class>Coinbase_Coinbase_Block</class>
            </Coinbase>
        </blocks>
 
        <models>
            <Coinbase>
                <class>Coinbase_Coinbase_Model</class>
            </Coinbase>
        </models>
 
        <resources>
            <Coinbase_setup>
                <setup>
                    <module>Coinbase_Coinbase</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Coinbase_setup>
            <Coinbase_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </Coinbase_write>
            <Coinbase_read>
               <connection>
                <use>core_read</use>
              </connection>
            </Coinbase_read>
        </resources>
    </global>
 
    <default>
        <payment>
            <Coinbase>
                <active>1</active>
                <model>Coinbase/paymentMethod</model>
                <title>Bitcoin</title>
 
                <payment_action>authorize</payment_action>
                <callback_secret>generate</callback_secret>
            </Coinbase>
         </payment>
    </default>
</config>
